# Node.js
node_modules/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
build/
dist/

# Next.js build and export output
.next/
out/

# Coverage reports
coverage/

# Environment files
# .env
# .env.*

# IDE files
.idea/
.vscode/

# Operating System files
.DS_Store
Thumbs.db
